
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    margin:auto;
    color: #e62429;
    font-size: 2.4em;
}
h5{
    font-size: 1.1em;
    margin: 10px;
}
.figura{
    display: flex;
    flex-wrap: wrap;
}
.carta {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
img{
    width: 18rem;   
    margin: 20px;
    height: 20rem;
}
.listarSeries{
    font-size: 1em;
    width: 9rem;
}